<div class="card_1" appCardStyleDirective [date]="data.snippet.publishedAt">
  <img class="thumbnail" src="{{ data.snippet.thumbnails.high.url }}" />
  <div class="div-row stats">
    <div class="spacer"></div>
    <div class="img-icon-viewed"></div>
    <div>{{ data.statistics.viewCount }}</div>
    <div class="img-icon-liked"></div>
    <div>{{ data.statistics.likeCount }}</div>
    <div class="img-icon-disliked"></div>
    <div>{{ data.statistics.dislikeCount }}</div>
    <div class="img-icon-commented"></div>
    <div>{{ data.statistics.commentCount }}</div>
    <div class="spacer"></div>
  </div>
  <div style="height: 15px"></div>
  <div class="mat-h2 card-title">
    {{
      data.snippet.title.length > 20
        ? (data.snippet.title | slice: 0:20) + "..."
        : data.snippet.title
    }}
  </div>
  <div style="height: 40px"></div>
  <div class="more-button more-text">
    <div class="cnt-row-centered">more...</div>
  </div>
</div>
