.spacer {
  flex: 1 1 auto;
}

.hspacer5 {
  width: 5px;
}

.hspacer10 {
  width: 10px;
}

.hspacer50 {
  width: 50px;
}

.background-img {
  background-repeat: no-repeat;
  background-position: center center;
}

.div-row {
  display: flex;
  flex-direction: row;
}

.cnt-row-centered {
  display: flex;
  flex-direction: row;
  align-items: center;
}
