@import '../../common.scss';

.sort-label {
    color: #929292;
}

.sort-link {
    color:#2F80ED;
    text-decoration: underline;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.sort-input {
    height: 14px;
    margin-top: 5px;
}